<div class="col-md-4 col-md-offset-4">
<h1>新增討論版</h1>

<hr>
<%= simple_form_for @group do |f| %>
  <%= f.input :title, :input_html => { :class => "form-control"} %>
  <%= f.input :description, :input_html => { :class => "form-control"} %>
  <%= f.input :area, :input_html => { :class => "form-control"} , hint: "限定可進入討論板的用戶的所在地區" %>

<hr>
  <%= f.submit "建立討論版", :disable_with => 'Submitting...', :class => "btn btn-primary"%> 
<% end %> 
</div>